{% extends 'admin_base.html.twig' %}

{% block body %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Slika</th>
                    <th scope="col">Detalji</th>
                    <th scope="col">Akcije</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td width="30%">

                            {% set picture = post.image %}
                            {% set imageSrc = vich_uploader_asset(post.image, 'file') %}
                            <div id="item_{{ picture.id }}">
                                <div class="image">
                                    <img width="250" id="{{ picture.id }}" src="{{ imageSrc }}"/>
                                </div>
                            </div>

                        </td>

                        <td width="45%">
                            <div class="row">
                                <div class="col-md-12">
                                    Jezik: {{ post.language }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Naslov: {{ post.title }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Tekst: {{ post.text }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-default btn-sm"
                                       href="{{ path('admin_post_form', {id: post.id}) }}">
                                        Izmjeni
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-danger btn-sm"
                                       href="{{ path('admin_post_delete', {id: post.id}) }}">
                                        Izbrisi
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>


                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="clearfix"></div>

    <ul class="pagination">
        {{ knp_pagination_render(posts) }}
    </ul>
</div>


{% endblock %}