{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Naslovi</th>
                        <th scope="col">Tekst</th>
                        <th scope="col">Izmjeni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for header in headers %}
                        <tr>
                            <td width="30%">
                                <div class="row">
                                    <div class="col-md-12">
                                        Jezik: {{ header.language }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Naslov: {{ header.title }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Podnaslov: {{ header.subtitle }}
                                    </div>
                                </div>

                            </td>

                            <td width="45%">
                                <div class="row">
                                    <div class="col-md-12">
                                        Tekst: {{ header.text }}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                                                    <a class="btn btn-danger btn-sm"
                                                                       href="{{ path('admin_header_form', {id: header.id}) }}">
                                                                        Izmjeni
                                                                    </a>
                                </div>
                            </td>
                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}