{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Lijeva slika</th>
                        <th scope="col">Desna slika</th>
                        <th scope="col">Detalji</th>
                        <th scope="col">Izmjeni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for experience in experiences %}
                        <tr>
                            <td width="20%">
                                {% set picture = experience.leftImage %}
                                {% set imageSrc = vich_uploader_asset(experience.leftImage, 'file') %}
                                <div id="item_{{ picture.id }}">
                                    <div class="image">
                                        <img width="200" id="{{ picture.id }}" src="{{ imageSrc }}"/>
                                    </div>
                                </div>
                            </td>

                            <td width="20%">
                                {% set picture1 = experience.rightImage %}
                                {% set imageSrc1 = vich_uploader_asset(experience.rightImage, 'file') %}
                                <div id="item_{{ picture1.id }}">
                                    <div class="image">
                                        <img width="200" id="{{ picture1.id }}" src="{{ imageSrc1 }}"/>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                        Jezik: {{ experience.language }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Naslov: {{ experience.title }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Tekst: {{ experience.text }}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a class="btn btn-danger btn-sm"
                                       href="{{ path('admin_experience_form', {id: experience.id}) }}">
                                        Izmjeni
                                    </a>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}